.menu {
    color: #ff0099;
    font-family: 'Consolas';
    font-size: 20px; 
    font-weight: normal;
    
    
}

.name {
    font-size: 60px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    padding-left: 9.8%;
    padding-right: 9.8%;
    margin-top: 9.8%;
}

.headline {
    font-size: 32px;
    font-family: 'Merriweather', serif;
    color: #ff0099;
    font-weight: 700;
    padding-left: 9.8%;
    padding-right: 9.8%;
}

.text {
    font-family: 'Consolas';
    font-size: 26px;
    padding-right: 9.8%;
    padding-left: 9.8%;
    
}

ul {
    list-style-type: none;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #ff0099;
    text-align: center;
    padding: 20px 24px;
    text-decoration: underline;
    margin: auto auto;
    position: relative;
    right: 160px;
    
  }
  
  li a:hover {
    color: whitesmoke ;
  }

body {
    background: url("https://i.ibb.co/ZKRLfPY/background.png") repeat;
}

.logo {
position: absolute;
top: 10px;
left: 151px;
z-index: 1;
}

.definitions {
  text-align: center;
  font-family: 'Consolas';
    font-size: 22px;
}